.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.958000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.953000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-5.824079px;}
._1{margin-left:-1.352045px;}
._2{width:2.183938px;}
._0{width:66.176000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(255,0,0);}
.fs3{font-size:52.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:64.000000px;}
.fs0{font-size:104.000000px;}
.y0{bottom:0.000000px;}
.yf{bottom:81.009537px;}
.ye{bottom:97.809525px;}
.yd{bottom:114.609512px;}
.yc{bottom:131.409515px;}
.y3{bottom:132.174552px;}
.yb{bottom:148.209518px;}
.y14{bottom:159.259521px;}
.ya{bottom:165.009521px;}
.y13{bottom:176.059525px;}
.y9{bottom:181.809525px;}
.y17{bottom:183.690140px;}
.y12{bottom:192.859524px;}
.y8{bottom:198.609524px;}
.y16{bottom:201.630138px;}
.y11{bottom:209.659527px;}
.y7{bottom:215.409527px;}
.y15{bottom:219.570140px;}
.y2{bottom:223.776886px;}
.y10{bottom:226.459527px;}
.y6{bottom:232.209527px;}
.y5{bottom:237.789196px;}
.y1{bottom:262.776882px;}
.y4{bottom:268.989197px;}
.h5{height:40.326000px;}
.h4{height:40.796875px;}
.h2{height:49.632000px;}
.h1{height:75.765625px;}
.h3{height:75.920000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1{left:64.635834px;}
.x3{left:75.635834px;}
.x2{left:380.094299px;}
.x4{left:501.242096px;}
.x5{left:526.242096px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-7.765439pt;}
._1{margin-left:-1.802727pt;}
._2{width:2.911917pt;}
._0{width:88.234667pt;}
.fs3{font-size:69.333333pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:85.333333pt;}
.fs0{font-size:138.666667pt;}
.y0{bottom:0.000000pt;}
.yf{bottom:108.012716pt;}
.ye{bottom:130.412699pt;}
.yd{bottom:152.812683pt;}
.yc{bottom:175.212687pt;}
.y3{bottom:176.232736pt;}
.yb{bottom:197.612691pt;}
.y14{bottom:212.346029pt;}
.ya{bottom:220.012695pt;}
.y13{bottom:234.746033pt;}
.y9{bottom:242.412699pt;}
.y17{bottom:244.920186pt;}
.y12{bottom:257.146032pt;}
.y8{bottom:264.812698pt;}
.y16{bottom:268.840185pt;}
.y11{bottom:279.546036pt;}
.y7{bottom:287.212702pt;}
.y15{bottom:292.760187pt;}
.y2{bottom:298.369181pt;}
.y10{bottom:301.946036pt;}
.y6{bottom:309.612703pt;}
.y5{bottom:317.052261pt;}
.y1{bottom:350.369176pt;}
.y4{bottom:358.652262pt;}
.h5{height:53.768000pt;}
.h4{height:54.395833pt;}
.h2{height:66.176000pt;}
.h1{height:101.020833pt;}
.h3{height:101.226667pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1{left:86.181112pt;}
.x3{left:100.847778pt;}
.x2{left:506.792399pt;}
.x4{left:668.322795pt;}
.x5{left:701.656128pt;}
}
